<!DOCTYPE html>
<html>
<head>
    <title>LifeStyle </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="semanticUI/semantic.css">


</head>
<body style="background: #F1E2D3; padding: 50px; ">
<h1>KORISNIK ULOGOVAN VEĆ</h1>
<div class="ui clearing raised segment">
    <h3>Vec ste ulogovani, za novu prijevu ili registraciju potrebno je da se odjavite prvo.  <form action="/" style="float: right;"
        ><input type='submit' class="ui button " value='ODJAVI SE'></form></h3>

</div>

</body>
</html>