<!DOCTYPE html>
<html>
<head>
    <title>LifeStyle </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="semanticUI/semantic.css">


</head>
<body style="background: #F1E2D3; padding: 50px; ">
<h1>KORISNIK VEĆ POSTOJI</h1>
<div class="ui clearing raised segment">
    <h3>
        Korisnik s ovim podacima vec postoji, unesite ove podatke.
        <form action="/register" style="float: right;">
            <input type='submit'  class="ui button" value='NOVA REGISTRACIJA'>
        </form>

    </h3>
</div>
<
</body>
</html>