<!DOCTYPE html>
<html>
<head>
    <title>LifeStyle </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="Semantic-UI-CSS-master/semantic.css">


</head>
<body style="background: #F1E2D3; padding: 50px; ">

<div > <h1>Profil nije dostupan, prijavite se za prikaz vašeg profila.</h1></div>
<div >

    <form action="/login" style="float: right;"
    ><input type='submit' value='PRIJAVI SE'></form>

</div>
</body>
</html>