<!DOCTYPE html>
<html>
<head>
    <title>LifeStyle </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="semanticUI/semantic.css">


</head>
<body style="background: #F1E2D3; padding: 50px; ">

<div class="ui clearing raised segment">
    <h3>
        Uspješno ste se registrovali. Kreirajte svoju prvu listu već sada!
        <form action="/profile" style="float: right;">
            <input type='submit'  class="ui button" value='KREIRAJ LISTU'>
        </form>
    </h3>
</div>

</body>
</html>